<div id="login-form-container">
    <form id="login-form" [formGroup]="loginForm">
        <div *ngIf="!emailSend">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email" formControlName="email">
            </div>
            <button class="margin" mat-raised-button color="primary" (click)="enviar()">Enviar</button>
        </div>
        <div *ngIf="emailSend">
            <div class="form-group" *ngIf="emailSend">
                <label for="code">Código enviado por email</label>
                <input type="code" class="form-control" id="code" placeholder="Código" formControlName="code">
            </div>
            <button class="margin" mat-raised-button color="primary" (click)="validar()">Validar</button>
        </div>
    </form>
</div>